# Directories
.cache/
logs/

.vscode
__pycache__
**/.ipynb_checkpoints/**
env/

# datasets
data/coco/
data/mnist_object_detection
data/original_mnist
outputs/
data/VOCdevkit
notebooks/data
datasets/tdt4265/
dataset_exploration/annotation_images/
/data/
performance_assessment/_*
output/
raw_videos/